/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb. 26, 2020, 3:54:05 p.m.
    Author     : Kevin Basel
*/
body{
    background-image: url("../Images/Abstract-1780314_1920.png");
    color: white;
    cursor:url("../Images/mesobag.png"), auto;
    height: 1080px;
    width: 1920px;
}
h1{
   text-align: center;
}
#Kanna1{
    width: 80px;
    height:80px;
}
#Kanna2{
    width: 80px;
    height:80px;
}
#Kanna3{
    width: 80px;
    height:80px;
}
#Meso{
    width: 50px;
    height: 50px;
}