/*
    Main CSS for the webpage, just changes the cursor, and image as well as
    aligning the header text.
*/
/* 
    Author: Kevin Basel
    Assignment A3
    Web Programming
    Winter 2020
*/
body{
    background-image: url("../Images/Abstract-1780314_1920.png");
    color: white;
    cursor:url("../Images/mesobag.png"), auto;
    height: 1080px;
    width: 1920px;
    border: 1px solid white;
}
h1{
   text-align: center;
}
#Kanna{
    width: 80px;
    height:80px;
    position: absolute;
}